## Importamos librerias

In [36]:
import numpy as np # linear algebra
import pandas as pd

In [37]:
from parametros import *

## Leemos archivo

Asumimos que nos da un archivos y un nombre de archivo ( Caso solo csv)

In [38]:
def read_file(file_name,file_path):
    
    if file_name.split('.')[-1]=='csv':
        df = pd.read_csv(file_path)
        print("el archivo se pudo leer con exito")
        return df
    else:
        print("la extencion del archivo no es valida")

In [42]:
file_name = "WA_Fn-UseC_-Telco-Customer-Churn.csv"
file_path = "datos_input/WA_Fn-UseC_-Telco-Customer-Churn.csv"

df = read_file(file_name,file_path)
df.head(3)

el archivo se pudo leer con exito

,Unnamed: 0.11,Unnamed: 0.10,Unnamed: 0.9,Unnamed: 0.8,Unnamed: 0.7,Unnamed: 0.6,Unnamed: 0.5,Unnamed: 0.4,Unnamed: 0.3,Unnamed: 0.2,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,0,0,0,0,0,0,0,0,0,0,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,1,1,1,1,1,1,1,1,1,1,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,2,2,2,2,2,2,2,2,2,2,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes

In [41]:
def set_target(df,target):
    df.rename(columns = {target:'y'}, inplace = True)
    return df

## Generamos Informacion basica del dataset

In [43]:
print("Nombre del archivo:",file_name.split('.')[0])

shape = df.shape
print("Cantidad de filas:",shape[0],"\nCantidad de columnas:",shape[1])

print("Nombres de columnas:", list(df.columns))

total_null_value = df.isnull().sum().sum()
pct_null_value = total_null_value / (shape[0]*shape[1])
print("Cantidad de valores nulos",total_null_value)
print("Porcentaje de valores nulos",pct_null_value)

Nombre del archivo: WA_Fn-UseC_-Telco-Customer-Churn
Cantidad de filas: 7043
Cantidad de columnas: 33
Nombres de columnas: ['Unnamed: 0.11', 'Unnamed: 0.10', 'Unnamed: 0.9', 'Unnamed: 0.8', 'Unnamed: 0.7', 'Unnamed: 0.6', 'Unnamed: 0.5', 'Unnamed: 0.4', 'Unnamed: 0.3', 'Unnamed: 0.2', 'Unnamed: 0.1', 'Unnamed: 0', 'customerID', 'gender', 'SeniorCitizen', 'Partner', 'Dependents', 'tenure', 'PhoneService', 'MultipleLines', 'InternetService', 'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport', 'StreamingTV', 'StreamingMovies', 'Contract', 'PaperlessBilling', 'PaymentMethod', 'MonthlyCharges', 'TotalCharges', 'Churn']
Cantidad de valores nulos 0
Porcentaje de valores nulos 0.0

In [16]:
def status(data):

    data2=data

    # total de rows
    tot_rows=len(data2)
    
    # total de nan
    d2=data2.isnull().sum().reset_index()
    d2.columns=['variable', 'q_nan']
    
    # percentage of nan
    d2[['p_nan']]=d2[['q_nan']]/tot_rows
    
    # num of zeros
    d2['q_zeros']=(data2==0).sum().values

    # perc of zeros
    d2['p_zeros']=d2[['q_zeros']]/tot_rows

    # total unique values
    d2['unique']=data2.nunique().values
    
    # get data types per column
    d2['type']=[str(x) for x in data2.dtypes.values]
    
    return(d2)

status =status(df)
status

            variable  q_nan  p_nan  q_zeros   p_zeros  unique     type
0         customerID      0    0.0        0  0.000000    7043   object
1             gender      0    0.0        0  0.000000       2   object
2      SeniorCitizen      0    0.0     5901  0.837853       2    int64
3            Partner      0    0.0        0  0.000000       2   object
4         Dependents      0    0.0        0  0.000000       2   object
5             tenure      0    0.0       11  0.001562      73    int64
6       PhoneService      0    0.0        0  0.000000       2   object
7      MultipleLines      0    0.0        0  0.000000       3   object
8    InternetService      0    0.0        0  0.000000       3   object
9     OnlineSecurity      0    0.0        0  0.000000       3   object
10      OnlineBackup      0    0.0        0  0.000000       3   object
11  DeviceProtection      0    0.0        0  0.000000       3   object
12       TechSupport      0    0.0        0  0.000000       3   object
13       StreamingTV      0    0.0        0  0.000000       3   object
14   StreamingMovies      0    0.0        0  0.000000       3   object
15          Contract      0    0.0        0  0.000000       3   object
16  PaperlessBilling      0    0.0        0  0.000000       2   object
17     PaymentMethod      0    0.0        0  0.000000       4   object
18    MonthlyCharges      0    0.0        0  0.000000    1585  float64
19      TotalCharges      0    0.0        0  0.000000    6531   object
20             Churn      0    0.0        0  0.000000       2   object

## Transform to categorical

In [18]:


def transform_categorical_columns(df):
    processed_columns = []
    category_mappings = {}

    for col in df.columns:
        # Si la columna es de tipo object, asumimos que es categórica
        if df[col].dtype == 'object':
            unique_categories = df[col].unique()
            
            # Para columnas categóricas con solo dos categorías, codificar como 0 y 1
            if len(unique_categories) == 2:
                col_mapping = {category: idx for idx, category in enumerate(unique_categories)}
                encoded_col = df[col].map(col_mapping)
                processed_columns.append(encoded_col)
                category_mappings[col] = col_mapping
            elif len(unique_categories) < 6:
                # Para columnas categóricas con más de dos pero menos de seis categorías, usar variables dummy
                dummies = pd.get_dummies(df[col], prefix=col, drop_first=True)
                processed_columns.append(dummies)
            else:
                # Para columnas con seis o más categorías, asignar un número a cada categoría
                col_mapping = {category: idx for idx, category in enumerate(unique_categories)}
                encoded_col = df[col].map(col_mapping)
                processed_columns.append(encoded_col)
                category_mappings[col] = col_mapping
        else:
            # Si no es categórica, se añade la columna tal cual
            processed_columns.append(df[col])

    return pd.concat(processed_columns, axis=1), category_mappings

In [19]:
aux = transform_categorical_columns(df)

In [25]:
aux[0].head(3)

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines_No phone service,MultipleLines_Yes,InternetService_Fiber optic,...,StreamingMovies_Yes,Contract_One year,Contract_Two year,PaperlessBilling,PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check,MonthlyCharges,TotalCharges,Churn
0,0,0,0,0,0,1,0,True,False,False,...,False,False,False,0,False,True,False,29.85,0,0
1,1,1,0,1,0,34,1,False,False,False,...,False,True,False,1,False,False,True,56.95,1,0
2,2,1,0,1,0,2,1,False,False,False,...,False,False,False,0,False,False,True,53.85,2,1

In [5]:
def generate_selected_variables(new_variables, variables):

    selected_variables = []

    for new_variable in new_variables:

        for old_variable in variables:
            if old_variable in new_variable:
                selected_variables.append(old_variable)
                break

    selected_variables=[item for item in selected_variables if item != "y"]


    print ("cantidad de variables seleccionadas:",len(selected_variables),selected_variables)
    return selected_variables

old = ['customerID', 'gender', 'SeniorCitizen', 'Partner', 'Dependents', 'tenure', 'PhoneService', 'MultipleLines', 'InternetService', 'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport', 'StreamingTV', 'StreamingMovies', 'Contract', 'PaperlessBilling', 'PaymentMethod', 'MonthlyCharges', 'TotalCharges', 'y']

new = ['TotalCharges', 'MonthlyCharges', 'tenure',
       'InternetService_fiber optic', 'Contract_two year',
       'PaymentMethod_electronic check', 'gender', 'PaperlessBilling',
       'Contract_one year', 'TechSupport_yes', 'y']

generate_selected_variables(new,old)

cantidad de variables seleccionadas: 10 ['TotalCharges', 'MonthlyCharges', 'tenure', 'InternetService', 'Contract', 'PaymentMethod', 'gender', 'PaperlessBilling', 'Contract', 'TechSupport']

['TotalCharges',
 'MonthlyCharges',
 'tenure',
 'InternetService',
 'Contract',
 'PaymentMethod',
 'gender',
 'PaperlessBilling',
 'Contract',
 'TechSupport']

# Casteo nuevos valores ingresados

In [6]:
# Necesito guaradar la info del tipo de cada variable para el casteo   en predict

def column_types(df):

    return {col: str(df[col].dtype) for col in df.columns}


# Ejemplo de uso:
datos = {
    'Nombre': ['Juan', 'María', 'Pedro'],
    'Edad': [25, 30, 35],
    'Altura': [1.75, 1.68, 1.80],
    'Activo': [True, False, True]
}

test = pd.DataFrame(datos)
diccionario_tipos = column_types(test)
print(diccionario_tipos)

{'Nombre': 'object', 'Edad': 'int64', 'Altura': 'float64', 'Activo': 'bool'}

In [7]:
# con esta info en predict voy a tener tambien una lista con los valores que ingreso el usuario para poder hacer la prediccion
import pandas as pd

def mapear_y_castear(fila_valores, tipos_dict):
    valores_mapeados = {}

    for idx, valor in enumerate(fila_valores):
        columna_nombre = list(tipos_dict.keys())[idx]
        tipo = tipos_dict[columna_nombre]
        
        # Realizamos el cast según el tipo especificado en el diccionario
        if tipo == 'int':
            valor = int(valor)
        elif tipo == 'float':
            # Convertimos ',' a '.' si el valor es una cadena y contiene una coma
            if isinstance(valor, str) and ',' in valor:
                valor = float(valor.replace(',', '.'))
            else:
                valor = float(valor)
        elif tipo == 'bool':
            # Convertimos a booleano si el valor es una cadena
            if isinstance(valor, str):
                valor = valor.lower() in ['true', 'verdadero', '1', 'si']
            else:
                valor = bool(valor)

        # Almacenamos el valor castedo en el diccionario de valores mapeados
        valores_mapeados[columna_nombre] = valor

    # Creamos un DataFrame con la fila de valores mapeados
    df = pd.DataFrame([valores_mapeados])

    return df

# Ejemplo de uso:
fila_valores = ['Juan', '43', '1,43', 'True']
#diccionario_tipos = {'Nombre': 'str', 'Edad': 'int', 'Altura': 'float', 'Activo': 'bool'}

dataframe_resultante = mapear_y_castear(fila_valores, diccionario_tipos)
print(dataframe_resultante)

  Nombre Edad Altura  Activo
0   Juan   43   1,43    True

In [8]:
data = {
    'TotalCharges': [1234.5],
    'MonthlyCharges': [56.7],
    'tenure': [12],
    'InternetService': ['DSL'],
    'Contract': ['One year'],
    'PaymentMethod': ['Credit card (automatic)'],
    'gender': ['Female'],
    'PaperlessBilling': ['Yes'],
    'TechSupport': ['No']
}

data = pd.DataFrame(data)
dict_map = {"gender": {"female": 0, "male": 1}, "Partner": {"yes": 0, "no": 1}, "Dependents": {"no": 0, "yes": 1}, "PhoneService": {"no": 0, "yes": 1}, "MultipleLines": {"no phone service": 0, "no": 1, "yes": 2}, "InternetService": {"dsl": 0, "fiber optic": 1, "no": 2}, "OnlineSecurity": {"no": 0, "yes": 1, "no internet service": 2}, "OnlineBackup": {"yes": 0, "no": 1, "no internet service": 2}, "DeviceProtection": {"no": 0, "yes": 1, "no internet service": 2}, "TechSupport": {"no": 0, "yes": 1, "no internet service": 2}, "StreamingTV": {"no": 0, "yes": 1, "no internet service": 2}, "StreamingMovies": {"no": 0, "yes": 1, "no internet service": 2}, "Contract": {"month-to-month": 0, "one year": 1, "two year": 2}, "PaperlessBilling": {"yes": 0, "no": 1}, "PaymentMethod": {"electronic check": 0, "mailed check": 1, "bank transfer (automatic)": 2, "credit card (automatic)": 3}, "y": {"no": 0, "yes": 1}}

In [9]:
type(list(data.columns))
list(data.columns)

['TotalCharges',
 'MonthlyCharges',
 'tenure',
 'InternetService',
 'Contract',
 'PaymentMethod',
 'gender',
 'PaperlessBilling',
 'TechSupport']

In [10]:
def map_input_to_numeric(df, mapping_dict):

    df_mapped = df.copy()
    for column, map_dict in mapping_dict.items():
        if column in df_mapped.columns:
            # Convierte la columna a string si no lo es, y luego aplica el mapeo
            df_mapped[column] = df_mapped[column].astype(str).str.lower().map(map_dict)

    return df_mapped

map_input_to_numeric(data,dict_map)

,TotalCharges,MonthlyCharges,tenure,InternetService,Contract,PaymentMethod,gender,PaperlessBilling,TechSupport
0,1234.5,56.7,12,0,1,3,0,0,0

In [11]:
fianl_input = map_input_to_numeric(data,dict_map)

In [12]:
import json
#{ "variables_names" : real_selected_variables,'type_variables' : type_variables, "category_mappings": category_mappings
with open("informacion/variables_info.json", 'r', encoding='utf-8') as file:
    variables_info = json.load(file)

In [14]:
variables_info.keys()

dict_keys(['variables_names', 'type_variables', 'category_mappings', 'model_name'])

In [72]:
data = {
    'TotalCharges': [1234.5],
    'MonthlyCharges': [56.7],
    'tenure': [12],
    'InternetService': ['DSL'],
    'Contract': ['One year'],
    'PaymentMethod': ['Credit card (automatic)'],
    'gender': ['Female'],
    'PaperlessBilling': ['Yes'],
    'TechSupport': ['No']
}
input = [1234.5, 56.7, 12, 'One year', 'Credit card (automatic)','yes','yes', 'Female', 'Yes', 'No']

In [73]:
#input_df = mapear_y_castear(input,variables_info['type_variables']) 
#print("input_df:",input_df)

In [74]:
def list_to_df(valores, nombres_columnas):

    if len(valores) != len(nombres_columnas):
        raise ValueError("La longitud de 'valores' y 'nombres_columnas' debe ser la misma.")
    
    # Crear el DataFrame
    df = pd.DataFrame([valores], columns=nombres_columnas)
    return df


input_df = list_to_df(input, variables_info['variables_names'])

#input_df = mapear_y_castear(input,variables_info['type_variables'],variables_info['variables_names'])

In [75]:
input_df

,TotalCharges,MonthlyCharges,tenure,Contract,PaymentMethod,OnlineSecurity,TechSupport,gender,PaperlessBilling,InternetService
0,1234.5,56.7,12,One year,Credit card (automatic),yes,yes,Female,Yes,No

In [81]:

def convertir_tipos(df, tipos_dict):

    # Filtramos el diccionario de tipos para quedarnos solo con las columnas que existen en el DataFrame
    tipos_necesarios = {clave: tipos_dict[clave] for clave in df.columns if clave in tipos_dict}
    print(tipos_necesarios)
    for columna, tipo in tipos_necesarios.items():
        try:
            if tipo == 'float':
                df[columna] = pd.to_numeric(df[columna], errors='coerce')
            elif tipo == 'int':
                # Primero convertimos a float y luego a int para manejar cadenas vacías y NaNs
                df[columna] = pd.to_numeric(df[columna], errors='coerce').fillna(0).astype(int)
            elif tipo == 'bool':
                # Convertimos valores no booleanos a booleanos según necesidad
                df[columna] = df[columna].apply(lambda x: str(x).lower() in ['true','false'])
            else:
                # Para otros tipos, usamos astype directamente ya que no deberían causar problemas
                df[columna] = df[columna].astype(tipo)
        except ValueError as e:
            print(f"Error al convertir columna {columna} a {tipo}: {e}")
            df[columna] = np.nan

    return df

In [82]:

df_casteado = convertir_tipos(input_df,variables_info['type_variables'])

{'TotalCharges': 'float64', 'MonthlyCharges': 'float64', 'tenure': 'int64', 'Contract': 'object', 'PaymentMethod': 'object', 'OnlineSecurity': 'object', 'TechSupport': 'object', 'gender': 'object', 'PaperlessBilling': 'object', 'InternetService': 'object'}

In [83]:
df_casteado

,TotalCharges,MonthlyCharges,tenure,Contract,PaymentMethod,OnlineSecurity,TechSupport,gender,PaperlessBilling,InternetService
0,1234.5,56.7,12,One year,Credit card (automatic),yes,yes,Female,Yes,No

In [79]:
df_casteado.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   TotalCharges      1 non-null      float64
 1   MonthlyCharges    1 non-null      float64
 2   tenure            1 non-null      int64
 3   Contract          1 non-null      object
 4   PaymentMethod     1 non-null      object
 5   OnlineSecurity    1 non-null      object
 6   TechSupport       1 non-null      object
 7   gender            1 non-null      object
 8   PaperlessBilling  1 non-null      object
 9   InternetService   1 non-null      object
dtypes: float64(2), int64(1), object(7)
memory usage: 212.0+ bytes

In [23]:
variables_info['type_variables']

{'gender': 'object',
 'SeniorCitizen': 'int64',
 'Partner': 'object',
 'Dependents': 'object',
 'tenure': 'int64',
 'PhoneService': 'object',
 'MultipleLines': 'object',
 'InternetService': 'object',
 'OnlineSecurity': 'object',
 'OnlineBackup': 'object',
 'DeviceProtection': 'object',
 'TechSupport': 'object',
 'StreamingTV': 'object',
 'StreamingMovies': 'object',
 'Contract': 'object',
 'PaperlessBilling': 'object',
 'PaymentMethod': 'object',
 'MonthlyCharges': 'float64',
 'TotalCharges': 'float64',
 'y': 'object'}

In [57]:
variables_info['variables_names']

['TotalCharges',
 'MonthlyCharges',
 'tenure',
 'Contract',
 'PaymentMethod',
 'OnlineSecurity',
 'TechSupport',
 'gender',
 'PaperlessBilling',
 'InternetService']

In [61]:
variables_info['category_mappings']

{'gender': {'female': 0, 'male': 1},
 'Partner': {'yes': 0, 'no': 1},
 'Dependents': {'no': 0, 'yes': 1},
 'PhoneService': {'no': 0, 'yes': 1},
 'MultipleLines': {'no phone service': 0, 'no': 1, 'yes': 2},
 'InternetService': {'dsl': 0, 'fiber optic': 1, 'no': 2},
 'OnlineSecurity': {'no': 0, 'yes': 1, 'no internet service': 2},
 'OnlineBackup': {'yes': 0, 'no': 1, 'no internet service': 2},
 'DeviceProtection': {'no': 0, 'yes': 1, 'no internet service': 2},
 'TechSupport': {'no': 0, 'yes': 1, 'no internet service': 2},
 'StreamingTV': {'no': 0, 'yes': 1, 'no internet service': 2},
 'StreamingMovies': {'no': 0, 'yes': 1, 'no internet service': 2},
 'Contract': {'month-to-month': 0, 'one year': 1, 'two year': 2},
 'PaperlessBilling': {'yes': 0, 'no': 1},
 'PaymentMethod': {'electronic check': 0,
  'mailed check': 1,
  'bank transfer (automatic)': 2,
  'credit card (automatic)': 3},
 'y': {'no': 0, 'yes': 1}}

In [24]:

def mapear_input_df_to_numeric(df, mapping_dict):

    df_mapped = df.copy()
    for column, map_dict in mapping_dict.items():
        if column in df_mapped.columns:
            # Convierte la columna a string si no lo es, y luego aplica el mapeo
            df_mapped[column] = df_mapped[column].astype(str).str.lower().map(map_dict)

    return df_mapped

In [84]:
df_to_predict = mapear_input_df_to_numeric(df_casteado, variables_info['category_mappings'])
df_to_predict

,TotalCharges,MonthlyCharges,tenure,Contract,PaymentMethod,OnlineSecurity,TechSupport,gender,PaperlessBilling,InternetService
0,1234.5,56.7,12,1,3,1,1,0,0,2

In [26]:
df_to_predict.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   TotalCharges      1 non-null      float64
 1   MonthlyCharges    1 non-null      float64
 2   tenure            1 non-null      int64
 3   Contract          1 non-null      int64
 4   PaymentMethod     1 non-null      int64
 5   OnlineSecurity    1 non-null      int64
 6   TechSupport       1 non-null      int64
 7   gender            1 non-null      int64
 8   PaperlessBilling  1 non-null      int64
 9   InternetService   1 non-null      int64
dtypes: float64(2), int64(8)
memory usage: 212.0 bytes

## Funcion para predecir usando el modelo adecuado

In [27]:
variables_info['model_name']

'modelos_output/modelo_1_RandomForest.pkl'

In [36]:
# df_to_predict es un df con una sola fila (los datos ingresados por el usuario ya procesados)
def predict(df_to_predict,model):

    prediction = model.predict(df_to_predict)
    probabilities = model.predict_proba(df_to_predict)

    return (prediction, probabilities)

In [38]:
import pickle
(prediction, probabilities) = predict(df_to_predict,variables_info['model_name'])

In [49]:
prediction[0]

0

In [85]:
probabilities[0][prediction]

array([0.82])

In [89]:
round(probabilities[0][prediction][0]*100,2)

82.0

In [65]:
def find_key(mapping, value):
    inverted_mapping = {v: k for k, v in mapping.items()}
    return inverted_mapping.get(value)

find_key(variables_info['category_mappings']['y'],9)

In [61]:
variables_info['category_mappings']['y']

{'no': 0, 'yes': 1}

In [68]:
prob = probabilities[0][prediction[0]]
y = find_key(variables_info['category_mappings']['y'],prediction[0])
resultado = str(y) + " con una probabilidad de " + str(prob)

In [69]:
resultado

'no con una probabilidad de 0.82'

## notas

In [ ]:
deploy


predict

nombre 10 variables principales

model_name 


envio la info de las 10 variables

tengo q transformar para generar las variables con las que se quedo el modelo



numerica -> same Name

categorica yes - no 
categorica mapeada -> tengo q mapear



dicc:

variables selecccionadas

variables

model Name

mappeo_dict 




def predict(input_list,model):

    #traducir input con mappeo del dicc

    model_name =

    filename_model = model_name + '.pkl'
    with open(filename_model, 'rb') as file:
        model = pickle.load(file)

    X = transform_input(input_list,mapeo_dict )

    # X = standarizar valores = tengo q exportar eso tambien


    X = pd.DataFrame({
    'columna1': [valor1],
    'columna2': [valor2],
    })

    prediction = model.predict(X)


    return prediction

OPEN AI

In [92]:
!pip install openai==0.28

Collecting openai==0.28
  Obtaining dependency information for openai==0.28 from https://files.pythonhosted.org/packages/ae/59/911d6e5f1d7514d79c527067643376cddcf4cb8d1728e599b3b03ab51c69/openai-0.28.0-py3-none-any.whl.metadata
  Downloading openai-0.28.0-py3-none-any.whl.metadata (13 kB)
Requirement already satisfied: requests>=2.20 in c:\users\ferre\anaconda3\lib\site-packages (from openai==0.28) (2.31.0)
Requirement already satisfied: tqdm in c:\users\ferre\anaconda3\lib\site-packages (from openai==0.28) (4.65.0)
Requirement already satisfied: aiohttp in c:\users\ferre\anaconda3\lib\site-packages (from openai==0.28) (3.8.5)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\ferre\anaconda3\lib\site-packages (from requests>=2.20->openai==0.28) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\ferre\anaconda3\lib\site-packages (from requests>=2.20->openai==0.28) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\ferre\anaconda3\lib\site-packages (from requests>=2.20->openai==0.28) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\ferre\anaconda3\lib\site-packages (from requests>=2.20->openai==0.28) (2023.7.22)
Requirement already satisfied: attrs>=17.3.0 in c:\users\ferre\anaconda3\lib\site-packages (from aiohttp->openai==0.28) (22.1.0)
Requirement already satisfied: multidict<7.0,>=4.5 in c:\users\ferre\anaconda3\lib\site-packages (from aiohttp->openai==0.28) (6.0.2)
Requirement already satisfied: async-timeout<5.0,>=4.0.0a3 in c:\users\ferre\anaconda3\lib\site-packages (from aiohttp->openai==0.28) (4.0.2)
Requirement already satisfied: yarl<2.0,>=1.0 in c:\users\ferre\anaconda3\lib\site-packages (from aiohttp->openai==0.28) (1.8.1)
Requirement already satisfied: frozenlist>=1.1.1 in c:\users\ferre\anaconda3\lib\site-packages (from aiohttp->openai==0.28) (1.3.3)
Requirement already satisfied: aiosignal>=1.1.2 in c:\users\ferre\anaconda3\lib\site-packages (from aiohttp->openai==0.28) (1.2.0)
Requirement already satisfied: colorama in c:\users\ferre\anaconda3\lib\site-packages (from tqdm->openai==0.28) (0.4.6)
Downloading openai-0.28.0-py3-none-any.whl (76 kB)
   ---------------------------------------- 0.0/76.5 kB ? eta -:--:--
   ----- ---------------------------------- 10.2/76.5 kB ? eta -:--:--
   ---------------------------------------- 76.5/76.5 kB 850.1 kB/s eta 0:00:00
Installing collected packages: openai
  Attempting uninstall: openai
    Found existing installation: openai 1.12.0
    Uninstalling openai-1.12.0:
      Successfully uninstalled openai-1.12.0
Successfully installed openai-0.28.0

Generamos una funcion que determine  categorias mas generarales para las variables categoricas de mas de 6 elementos. Esto va a servir para la parte de la limpieza de datos. EJ Bs AS y buenos aires . Y  por otro lado va a hacer una tarea similar a los embedings. Pensemos en un analista

In [30]:
profesiones_comunes = [
    "Médico", "Ingeniero", "Profesor", "Enfermero/a", "Dentista", "Psicólogo", "Policía", "Bombero/a", "Chef", "Mecánico",
    "Electricista", "Peluquero/a", "Actor/Actriz", "Cantante", "Escritor", "Diseñador gráfico", "Programador", "Periodista", "Agricultor", "Veterinario"
]

In [8]:
import openai
import os

openai.api_key  = "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"

def get_completion(prompt, model="gpt-3.5-turbo"):
    messages = [{"role": "user", "content": prompt}]
    response = openai.ChatCompletion.create(
        model=model,
        messages=messages,
        temperature=0, # this is the degree of randomness of the model's output
    )
    return response.choices[0].message["content"]

prompt = f"""Agrupa los objetos en categorías basadas en su similitud, sin límite predefinido en el número de categorías. Asegúrate de que los objetos dentro de cada categoría sean similares. Genera el resultado en formato JSON donde para cada categoría aparezca un nombre representativo y como valor una lista de los objetos que están dentro de esa categoría. Cada categoría debe tener un nombre que refleje lo que representa. Lista de objetos: {profesiones_comunes}"""

response = get_completion(prompt)
print(response)

{
  "Categoría 1": ["Médico", "Enfermero/a", "Dentista", "Psicólogo", "Veterinario"],
  "Categoría 2": ["Ingeniero", "Programador", "Diseñador gráfico"],
  "Categoría 3": ["Profesor", "Periodista"],
  "Categoría 4": ["Policía", "Bombero/a"],
  "Categoría 5": ["Chef"],
  "Categoría 6": ["Mecánico", "Electricista"],
  "Categoría 7": ["Peluquero/a"],
  "Categoría 8": ["Actor/Actriz", "Cantante", "Escritor"],
  "Categoría 9": ["Agricultor"]
}

In [28]:
prompt = f"""Agrupa los objetos en categorías basadas en su similitud, sin límite predefinido en el número de categorías. Asegúrate de que los objetos dentro de cada categoría sean similares. Genera el resultado en formato JSON donde para cada categoría aparezca un nombre representativo y como valor una lista de los objetos que están dentro de esa categoría. Cada categoría debe tener un nombre que refleje lo que representa. Lista de objetos: {profesiones_comunes}"""
response = str(categorias)

In [6]:
def estimar_tokens(prompt):
    # Tokenización simple basada en espacios y signos de puntuación comunes
    palabras = prompt.replace('\n', ' ').replace('.', ' ').replace(',', ' ').replace('?', ' ').replace('!', ' ').split()
    num_tokens = len(palabras)  # Cada palabra se considera un token
    return num_tokens

In [29]:
prompt_tokens = estimar_tokens(prompt)
print("prompt_tokens",prompt_tokens)
output_tokens = estimar_tokens(response)
print("output_tokens",output_tokens)

costo = round(calcular_costo(prompt_tokens,output_tokens),5)
print("costo en dolares: ",costo,"costo en pesos: ",costo*1300 )

prompt_tokens 91
output_tokens 39
costo en dolares:  0.00051 costo en pesos:  0.663

In [21]:
def calcular_costo(input_tokens, output_tokens):
    costo_por_input = 0.0030  # Costo por cada 1K tokens de entrada
    costo_por_output = 0.0060  # Costo por cada 1K tokens de salida

    costo_total = (input_tokens * costo_por_input / 1000) + (output_tokens * costo_por_output / 1000)
    
    return costo_total

costo = round(calcular_costo(91,39),5)
print("costo en dolares: ",costo,"costo en pesos: ",costo*1300 )

costo en dolares:  0.00051 costo en pesos:  0.663

### Agrego mensaje al dicc que indica como hizo la separacion

In [22]:
prompt = f"""Clasifica la siguiente lista de objetos en categorías según sus similitudes, sin un límite específico de categorías.
Garantiza la homogeneidad dentro de cada categoría.
El resultado debe presentarse en un formato JSON,
donde cada categoría esté identificada por un nombre descriptivo y contenga una lista de los objetos pertenecientes.
El nombre de cada categoría debe reflejar claramente las características comunes de sus miembros.
Incluye además un mensaje breve que explique el criterio utilizado para la clasificación,
 limitado a una oración. Lista de objetos:{profesiones_comunes}"""

response = get_completion(prompt)
print(response)

{
  "Profesiones de la salud": ["Médico", "Enfermero/a", "Dentista", "Psicólogo", "Veterinario"],
  "Profesiones técnicas": ["Ingeniero", "Mecánico", "Electricista", "Diseñador gráfico", "Programador"],
  "Profesiones educativas": ["Profesor"],
  "Profesiones de servicio y protección": ["Policía", "Bombero/a"],
  "Profesiones artísticas": ["Actor/Actriz", "Cantante", "Escritor"],
  "Profesiones relacionadas con la alimentación": ["Chef"],
  "Profesiones relacionadas con la estética": ["Peluquero/a"],
  "Profesiones relacionadas con los medios de comunicación": ["Periodista"],
  "Profesiones relacionadas con la agricultura": ["Agricultor"]
}

Criterio utilizado para la clasificación: Se agruparon los objetos según su campo de trabajo o área de especialización.

In [24]:
prompt_tokens = estimar_tokens(prompt)
print("prompt_tokens",prompt_tokens)
output_tokens = estimar_tokens(response)
print("output_tokens",output_tokens)

costo = round(calcular_costo(prompt_tokens,output_tokens),5)
print("costo en dolares: ",costo,"costo en pesos: ",costo*1300 )

prompt_tokens 103
output_tokens 78
costo en dolares:  0.00078 costo en pesos:  1.014

In [13]:
categorias = {
    "Categoría 1": ["Médico", "Enfermero/a", "Dentista", "Psicólogo", "Veterinario"],
    "Categoría 2": ["Ingeniero", "Programador", "Diseñador gráfico"],
    "Categoría 3": ["Profesor", "Periodista"],
    "Categoría 4": ["Policía", "Bombero/a"],
    "Categoría 5": ["Chef"],
    "Categoría 6": ["Mecánico", "Electricista"],
    "Categoría 7": ["Peluquero/a"],
    "Categoría 8": ["Actor/Actriz", "Cantante", "Escritor"],
    "Categoría 9": ["Agricultor"]
}

str( categorias)

"{'Categoría 1': ['Médico', 'Enfermero/a', 'Dentista', 'Psicólogo', 'Veterinario'], 'Categoría 2': ['Ingeniero', 'Programador', 'Diseñador gráfico'], 'Categoría 3': ['Profesor', 'Periodista'], 'Categoría 4': ['Policía', 'Bombero/a'], 'Categoría 5': ['Chef'], 'Categoría 6': ['Mecánico', 'Electricista'], 'Categoría 7': ['Peluquero/a'], 'Categoría 8': ['Actor/Actriz', 'Cantante', 'Escritor'], 'Categoría 9': ['Agricultor']}"

### Prueba con gpt4

In [32]:
import openai
import os

openai.api_key  = "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"

def get_completion(prompt, model="gpt-4"):
    messages = [{"role": "user", "content": prompt}]
    response = openai.ChatCompletion.create(
        model=model,
        messages=messages,
        temperature=0, # this is the degree of randomness of the model's output
    )
    return response.choices[0].message["content"]

prompt = f"""Agrupa los objetos en categorías basadas en su similitud, sin límite predefinido en el número de categorías. Asegúrate de que los objetos dentro de cada categoría sean similares. Genera el resultado en formato JSON donde para cada categoría aparezca un nombre representativo y como valor una lista de los objetos que están dentro de esa categoría. Cada categoría debe tener un nombre que refleje lo que representa. Lista de objetos: {profesiones_comunes}"""

response = get_completion(prompt)
print(response)

{
    "Profesiones de la Salud": ["Médico", "Enfermero/a", "Dentista", "Psicólogo", "Veterinario"],
    "Profesiones de la Ingeniería y Tecnología": ["Ingeniero", "Mecánico", "Electricista", "Programador"],
    "Profesiones de la Educación": ["Profesor"],
    "Profesiones de la Seguridad": ["Policía", "Bombero/a"],
    "Profesiones de la Gastronomía": ["Chef"],
    "Profesiones de la Belleza y Estética": ["Peluquero/a"],
    "Profesiones del Arte y Entretenimiento": ["Actor/Actriz", "Cantante", "Escritor"],
    "Profesiones del Diseño": ["Diseñador gráfico"],
    "Profesiones de la Comunicación": ["Periodista"],
    "Profesiones de la Agricultura": ["Agricultor"]
}

In [33]:
prompt = f"""Clasifica la siguiente lista de objetos en categorías según sus similitudes, sin un límite específico de categorías.
Garantiza la homogeneidad dentro de cada categoría.
El resultado debe presentarse en un formato JSON,
donde cada categoría esté identificada por un nombre descriptivo y contenga una lista de los objetos pertenecientes.
El nombre de cada categoría debe reflejar claramente las características comunes de sus miembros.
Incluye además un mensaje breve que explique el criterio utilizado para la clasificación,
 limitado a una oración. Lista de objetos:{profesiones_comunes}"""

response2 = get_completion(prompt)
print(response2)

{
    "Profesiones de la salud": ["Médico", "Enfermero/a", "Dentista", "Psicólogo", "Veterinario"],
    "Profesiones de la educación": ["Profesor"],
    "Profesiones de seguridad y emergencias": ["Policía", "Bombero/a"],
    "Profesiones de servicios": ["Chef", "Peluquero/a"],
    "Profesiones técnicas y de ingeniería": ["Ingeniero", "Mecánico", "Electricista", "Programador"],
    "Profesiones creativas y de entretenimiento": ["Actor/Actriz", "Cantante", "Escritor", "Diseñador gráfico"],
    "Profesiones de comunicación": ["Periodista"],
    "Profesiones de la agricultura": ["Agricultor"]
}

Mensaje: Las profesiones se han clasificado en categorías basadas en el campo de trabajo y las habilidades requeridas.

In [34]:
def calcular_costo_gpt4(input_tokens, output_tokens):
    costo_por_input = 0.03  # Costo por cada 1K tokens de entrada
    costo_por_output = 0.06  # Costo por cada 1K tokens de salida

    costo_total = (input_tokens * costo_por_input / 1000) + (output_tokens * costo_por_output / 1000)
    
    return costo_total

costo = round(calcular_costo_gpt4(91,39),5)
print("costo en dolares: ",costo,"costo en pesos: ",costo*1300 )

costo en dolares:  0.00507 costo en pesos:  6.591

In [35]:
prompt_tokens = estimar_tokens(prompt)
print("prompt_tokens",prompt_tokens)
output_tokens = estimar_tokens(response2)
print("output_tokens",output_tokens)

costo = round(calcular_costo_gpt4(prompt_tokens,output_tokens),5)
print("costo en dolares: ",costo,"costo en pesos: ",costo*1300 )

prompt_tokens 103
output_tokens 74
costo en dolares:  0.00753 costo en pesos:  9.789

### Prueba seleccion de variables

In [44]:
new_df = df

In [46]:
df_string = new_df.head(2).to_string()
df_string
print(estimar_tokens(df_string))

133

In [47]:
prompt = f"""Dado el siguiente DataFrame con una muestra de dos filas y varias columnas,
identifica qué columnas podrían ser innecesarias para un análisis en el que la columna 'y'
es la variable objetivo.
Considera factores como redundancia de datos, relevancia para la predicción de la variable objetivo,
y cualquier otro criterio analítico que consideres pertinente. Retorna el resultado en un formato JSON,
especificando las columnas a eliminar y proporciona una breve explicación de por qué deberían ser eliminadas.
Ejemplo de DataFrame: {df_string}"""

response3 = get_completion(prompt)
print(response3)

{
  "columnas_a_eliminar": [
    "Unnamed: 0.11",
    "Unnamed: 0.10",
    "Unnamed: 0.9",
    "Unnamed: 0.8",
    "Unnamed: 0.7",
    "Unnamed: 0.6",
    "Unnamed: 0.5",
    "Unnamed: 0.4",
    "Unnamed: 0.3",
    "Unnamed: 0.2",
    "Unnamed: 0.1",
    "Unnamed: 0",
    "customerID"
  ],
  "razones": [
    "Las columnas 'Unnamed: 0.x' parecen ser índices redundantes que no aportan información útil para la predicción de la variable objetivo 'y'.",
    "La columna 'customerID' es un identificador único para cada cliente y no tiene relevancia predictiva para la variable objetivo."
  ]
}

In [48]:
prompt_tokens = estimar_tokens(prompt)
print("prompt_tokens",prompt_tokens)
output_tokens = estimar_tokens(response3)
print("output_tokens",output_tokens)

costo = round(calcular_costo_gpt4(prompt_tokens,output_tokens),5)
print("costo en dolares: ",costo,"costo en pesos: ",costo*1300 )

prompt_tokens 213
output_tokens 87
costo en dolares:  0.01161 costo en pesos:  15.093

### Analisis final del resultado

In [50]:
modelo = "RandomForest"
Accuracy = "79"
principal_variables  = str(["TotalCharges", "MonthlyCharges", "tenure", "Contract", "PaymentMethod", "OnlineSecurity", "TechSupport", "gender", "PaperlessBilling", "InternetService"])
df_string = new_df.head(2).to_string()

In [52]:
prompt = f"""Quiero que realices un análisis exhaustivo de un modelo de ML que hemos desarrollado para realizar Churn y determianar si un cliente se va a ir. Aquí tienes los detalles relevantes del modelo y los datos:

- Modelo utilizado: {modelo}.
- Accuracy del modelo: {Accuracy}.
- Las 10 variables más explicativas identificadas son: {Accuracy}.
- Ejemplo del DataFrame utilizado (dos filas de muestra): {df_string}.

Basado en esta información, por favor, realiza las siguientes tareas:
1. **Análisis Técnico**: Evalúa la efectividad del modelo considerando su accuracy y las variables más explicativas. Ofrece una interpretación de por qué estas variables son importantes para el objetivo del modelo.
2. **Análisis de Negocio**: Basado en el análisis técnico, proporciona un análisis de negocios sobre cómo este modelo puede ser aplicado para generar valor en [especificar el contexto del negocio, como aumentar las ventas, reducir costos, mejorar la satisfacción del cliente, etc.]. Incluye posibles estrategias y acciones recomendadas.
3. **Sugerencias de Mejora**: Proporciona recomendaciones sobre cómo podemos mejorar el modelo o los datos para aumentar la precisión y la relevancia del negocio.

Por favor, presenta tus hallazgos y recomendaciones en un formato estructurado que podamos utilizar para informar nuestras decisiones de negocio."""



response4 = get_completion(prompt)
print(response4)

1. **Análisis Técnico**:

El modelo RandomForest tiene una precisión del 79%, lo que indica que el modelo es capaz de predecir correctamente si un cliente se irá o no en el 79% de los casos. Sin embargo, la precisión por sí sola no es suficiente para evaluar la efectividad del modelo. Sería útil conocer otras métricas como la sensibilidad, la especificidad, el valor predictivo positivo y negativo, y el área bajo la curva ROC.

En cuanto a las variables más explicativas, parece haber un error en los datos proporcionados ya que se menciona que son "79". Sin embargo, basándonos en el DataFrame proporcionado, algunas variables que podrían ser importantes para predecir el churn podrían ser 'tenure' (tiempo que el cliente ha estado con la empresa), 'Contract' (tipo de contrato del cliente), 'MonthlyCharges' (cargos mensuales) y 'TotalCharges' (cargos totales). Estas variables podrían ser importantes porque los clientes que han estado con la empresa durante más tiempo, tienen contratos a largo plazo y cargos más bajos podrían ser menos propensos a irse.

2. **Análisis de Negocio**:

Este modelo puede ser muy valioso para la empresa ya que puede ayudar a identificar a los clientes que están en riesgo de irse. Con esta información, la empresa puede tomar medidas para retener a estos clientes, como ofrecer descuentos, mejorar el servicio al cliente o personalizar las ofertas según las necesidades del cliente.

Por ejemplo, si el modelo identifica que los clientes con cargos mensuales más altos son más propensos a irse, la empresa podría considerar ofrecer descuentos o paquetes más asequibles a estos clientes. Si los clientes con contratos a corto plazo son más propensos a irse, la empresa podría considerar ofrecer incentivos para que estos clientes se cambien a contratos a largo plazo.

3. **Sugerencias de Mejora**:

Para mejorar el modelo, podríamos considerar varias estrategias. Primero, podríamos probar diferentes algoritmos de aprendizaje automático para ver si alguno de ellos ofrece una mejor precisión. Segundo, podríamos ajustar los parámetros del modelo RandomForest para optimizar su rendimiento. Tercero, podríamos considerar la posibilidad de recoger más datos o más características de los clientes que podrían ser relevantes para predecir el churn.

Además, sería útil realizar un análisis de importancia de las características para identificar las variables más importantes para predecir el churn. Esto podría ayudarnos a entender mejor qué factores influyen en la decisión de un cliente de irse y a desarrollar estrategias más efectivas para retener a los clientes.

In [54]:
prompt_tokens = estimar_tokens(prompt)
print("prompt_tokens",prompt_tokens)
output_tokens = estimar_tokens(response4)
print("output_tokens",output_tokens)

costo = round(calcular_costo_gpt4(prompt_tokens,output_tokens),5)
print("costo en dolares: ",costo,"costo en pesos: ",costo*1300 )

prompt_tokens 330
output_tokens 404
costo en dolares:  0.03414 costo en pesos:  44.382

### Otro dataset

In [55]:
file_name = "Customer-Churn-Records.csv"
file_path = "datos_input/Customer-Churn-Records.csv"

df2 = read_file(file_name,file_path)
df2.head(3)

el archivo se pudo leer con exito

,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,...,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Complain,Satisfaction Score,Card Type,Point Earned
0,0,0,0,1,15634602,Hargrave,619,France,Female,42,...,0.00,1,1,1,101348.88,1,1,2,DIAMOND,464
1,1,1,1,2,15647311,Hill,608,Spain,Female,41,...,83807.86,1,0,1,112542.58,0,1,3,DIAMOND,456
2,2,2,2,3,15619304,Onio,502,France,Female,42,...,159660.80,3,1,0,113931.57,1,1,3,DIAMOND,377

In [56]:
df_string = df2.head(2).to_string()

In [59]:
prompt = f"""Dado el siguiente DataFrame con una muestra de dos filas y varias columnas,
identifica qué columnas podrían ser innecesarias para un análisis en el que la columna 'y'
es la variable objetivo.
Considera factores como redundancia de datos, relevancia para la predicción de la variable objetivo,
y cualquier otro criterio analítico que consideres pertinente. Retorna el resultado en un formato JSON,
especificando las columnas a eliminar como una lista y las que tal vez deberia eliminar con otra lista y proporciona una breve explicación de por qué deberían ser eliminadas.
Ejemplo de DataFrame: {df_string}"""

response3 = get_completion(prompt)
print(response3)

{
  "columnas_a_eliminar": ["Unnamed: 0.2", "Unnamed: 0.1", "Unnamed: 0", "RowNumber", "CustomerId", "Surname"],
  "columnas_a_considerar": ["HasCrCard", "IsActiveMember", "Complain", "Card Type"],
  "razones": {
    "eliminar": {
      "Unnamed: 0.2": "Esta columna parece ser un índice redundante.",
      "Unnamed: 0.1": "Esta columna parece ser un índice redundante.",
      "Unnamed: 0": "Esta columna parece ser un índice redundante.",
      "RowNumber": "Esta columna parece ser un índice redundante.",
      "CustomerId": "El ID del cliente no debería tener un impacto en la variable objetivo 'y'.",
      "Surname": "El apellido del cliente no debería tener un impacto en la variable objetivo 'y'."
    },
    "considerar": {
      "HasCrCard": "Dependiendo del contexto, tener una tarjeta de crédito podría no ser relevante para la variable objetivo 'y'.",
      "IsActiveMember": "Dependiendo del contexto, ser un miembro activo podría no ser relevante para la variable objetivo 'y'.",
      "Complain": "Dependiendo del contexto, si un cliente se queja o no podría no ser relevante para la variable objetivo 'y'.",
      "Card Type": "Dependiendo del contexto, el tipo de tarjeta podría no ser relevante para la variable objetivo 'y'."
    }
  }
}

In [60]:
prompt_tokens = estimar_tokens(prompt)
print("prompt_tokens",prompt_tokens)
output_tokens = estimar_tokens(response3)
print("output_tokens",output_tokens)

costo = round(calcular_costo_gpt4(prompt_tokens,output_tokens),5)
print("costo en dolares: ",costo,"costo en pesos: ",costo*1300 )

prompt_tokens 170
output_tokens 179
costo en dolares:  0.01584 costo en pesos:  20.592